<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        table {
          font-family: Arial;
          border-collapse: collapse;
          width: 75%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>

  </head>
  <body>
      <h2>Applicants for </h2>
      <table>
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Profile link</th>
              <th>Contact</th>
          </tr>

           {% for item in list%}
          <tr>
              <th>#</th>
              <th>{{item.name}}</th>
              <th>{{item.profile_link}}</th>       
              <th>{{item.email}}</th>     
          </tr>
            {% endfor %}
      </table>

  </body>
</html>